body {
  align-content: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./app/layout/Backgrounds/mavica.jpg");
}

p {
  align-content: center;
  color: black;
  display: block;
}
